<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appender name="stash" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
    <host>127.0.0.1</host>
    <port>5044</port>
    <layout class="net.logstash.logback.layout.LogstashLayout">
        <customFields>{"appname":"backend"}</customFields>
    </layout>
</appender>

<root level="info">
    <appender-ref ref="stash" />
</root>
</configuration>
