<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashAccessUdpSocketAppender">
        <destination>localhost:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <layout class="net.logstash.logback.layout.LogstashLayout"/>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
